@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}

@section Heads
{

<script src="https://unpkg.com/scrollreveal"></script>
<style>
    html {
        scroll-behavior: smooth;
    }

    @@media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
}

@section Scripts{
<script>
    ScrollReveal().reveal('.headline', { delay: 50 });
</script>
}

@functions
{
    public static string DateTimeToString(DateTime dateTime)
    {
        return dateTime.ToString("mm:hh dd/MM/yyyy");
    }
}

@{
    var i = 0;
}

<div>
    <div id="default-carousel" class="relative $md:max-w-lg max-w-3xl $xl:max-w-[800px] mx-auto" data-carousel="static">

        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            @for (; i < 6; i++)
            {
                @await Component.InvokeAsync("CarouserItem", Model.ElementAt(i))

            }
        </div>

        <button type="button"
            class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev>
            <span
                class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7">
                    </path>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button"
            class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next>
            <span
                class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7">
                    </path>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>

    <h3 class="font-semibold text-2xl line-clamp-2 mt-12 mb-5">All blog posts</h3>
    <div class="grid grid-cols-3 gap-8 px-10 $lg:px-4 $ssm:px-6 $lg:grid-cols-2 $ssm:grid-cols-1">
        @{
            var count = Model.Count();
        }
        @for (; i < count; i++)
        {
            var post = Model.ElementAt(i);
            @await Component.InvokeAsync("PostCard", post)
        }
    </div>
    <div class="border-t border-b justify-center py-8 px-2 flex gap-4 font-medium text-sm my-8 mt-4">
        <div class=" bg-gray-100 hover:bg-gray-300 rounded-md px-2 py-1 flex  items-center justify-around gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="20"
                height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M5 12l6 6" />
                <path d="M5 12l6 -6" />
            </svg>
            <span>
                Previous
            </span>
        </div>
        <div class="flex gap-2 ">
            <span class=" w-10 h-10 flex justify-center text-purple-700 bg-purple-200 items-center  rounded-md">1</span>
            <span
                class=" w-10  hover:bg-purple-100 h-10 flex justify-center items-center bg-gray-50 rounded-md">2</span>
            <span class=" w-10 hover:bg-purple-10 h-10 flex justify-center items-center bg-gray-50 rounded-md">3</span>
        </div>
        <div class=" bg-gray-100 hover:bg-gray-300 rounded-md px-2 py-1 flex  items-center justify-around gap-2">

            <span>
                Next
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="20"
                height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M13 18l6 -6" />
                <path d="M13 6l6 6" />
            </svg>
        </div>
    </div>
</div>