@model BlogApp.Models.Post
@{
    ViewData["Title"] = Model.Title + " | BlogApp";
}
@section Heads
{
    <link rel="stylesheet" href="~/css/dracular-hightlight.css" asp-append-version="true"/>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"/>
    
    <style>
        @@font-face {
        font-family: 'Dank Mono';
        src: url('~/fonts/Dank Mono Regular.otf') format('opentype');
        font-style: normal;
        }
    
         @@font-face {
                font-family: 'Dank Mono';
                src: url('~/fonts/Dank Mono Italic.otf') format('opentype');
                font-style: italic;
                }
        pre {
        background-color: #1f2937;
        color: white;
        font-family:  'Dank Mono', monospace;
        padding-bottom: 1rem;
        padding-top: 1.25rem;
        padding-left: 1rem;
        border-radius: 1rem;
        margin: 1rem 1rem;
        font-size: 0.9rem;
        }
        code {
        font-family:  'Dank Mono', monospace;
        font-style: italic;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 0 0.5rem;
        }
        
    </style>
}
<div class="mx-auto max-w-[850px]">
        <h1 class="font-bold leading-[3.5rem] text-5xl mt-8 mb-12">@Model.Title</h1>
</div>
<article class="content mx-auto max-w-[850px]">

    @Html.Raw(@Model.Content)
</article>

@section Scripts {
   
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>

        </script>
}
