@model BlogApp.Models.Tag

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    const onDeleteClick = (e) => {
        const isDelete = confirm("Bạn có chắc chắn muốn xóa thẻ này không?");
        if (!isDelete) {
            e.preventDefault();
        }
    }
</script>
<div class="mb-8 flex justify-between items-center">
    <h1 class="font-bold ">Sửa thẻ @Model.Name</h1>

    <a asp-action="Delete" asp-route-id="@Model.Slug" type="button" class="btn btn-error"
        onclick="onDeleteClick(event)">
        Xóa thẻ
    </a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Slug" />

            <div>
                <label asp-for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên
                    thẻ</label>
                <input type="text" asp-for="Name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="C#" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-4 flex justify-end gap-x-10">
                <a asp-action="AdminIndex" class="btn btn-secondary btn-outline">Quay về</a>
                <input type="submit" value="Lưu" class="btn px-12 btn-primary" />
            </div>
        </form>
    </div>
</div>
